---
http_interactions:
- request:
    method: post
    uri: https://api.podchaser.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query PodchaserGuestFeed__SearchQuery($searchTerm: String!)
        {\n  creators(searchTerm: $searchTerm, first: 1) {\n    data {\n      pcid\n      name\n      imageUrl\n    }\n  }\n}","variables":{"searchTerm":"zzznonexistentperson12345"},"operationName":"PodchaserGuestFeed__SearchQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <PODCHASER_DEV_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Podchaser-Points-Remaining:
      - '24089'
      X-Podchaser-Query-Cost:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"creators":{"data":[]}}}'
  recorded_at: Thu, 23 Apr 2026 00:04:29 GMT
[...]
- request:
    method: post
    uri: https://api.podchaser.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query PodchaserGuestFeed__SearchQuery($searchTerm: String!)
        {\n  creators(searchTerm: $searchTerm, first: 1) {\n    data {\n      pcid\n      name\n      imageUrl\n    }\n  }\n}","variables":{"searchTerm":"zzznonexistentperson12345"},"operationName":"PodchaserGuestFeed__SearchQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <PODCHASER_DEV_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Podchaser-Points-Remaining:
      - '22597'
      X-Podchaser-Query-Cost:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"creators":{"data":[]}}}'
  recorded_at: Thu, 23 Apr 2026 00:08:55 GMT
recorded_with: VCR 6.4.0
