---
http_interactions:
- request:
    method: post
    uri: https://api.podchaser.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query PodchaserGuestFeed__EpisodeCreditsQuery($pcid: String!,
        $first: Int!) {\n  creator(identifier: {type: PCID, id: $pcid}) {\n    pcid\n    name\n    imageUrl\n    episodeCredits(first:
        $first, filters: {role: [\"guest\"]}, sort: {sortBy: DATE, direction: DESCENDING})
        {\n      paginatorInfo {\n        count\n        hasMorePages\n      }\n      data
        {\n        episode {\n          id\n          title\n          description\n          airDate\n          url\n          audioUrl\n          lengthSeconds:
        length\n          imageUrl\n          podcast {\n            title\n            imageUrl\n          }\n        }\n      }\n    }\n  }\n}","variables":{"pcid":"791950","first":25},"operationName":"PodchaserGuestFeed__EpisodeCreditsQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <PODCHASER_DEV_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Podchaser-Points-Remaining:
      - '20817'
      X-Podchaser-Query-Cost:
      - '308'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"creator":{"pcid":"791950","name":"Jim Chanos","imageUrl":"https:\/\/creator-images.podchaser.com\/392fd011a7bf454dda540173fe5b2e49.jpeg","episodeCredits":{"paginatorInfo":{"count":2,"hasMorePages":false},"data":[{"episode":{"id":"259526122","title":"BTC243:
        Jim Chanos Vs Pierre Rochard MSTR mNAV debate (Bitcoin Podcast)","description":"Jim
        Chanos and Pierre Rochard face off on Bitcoin-native corporates, debating
        governance, valuation models, capital structure, and whether BTC on the balance
        sheet adds value or risk.\n\n\n\nIN THIS EPISODE YOU\u2019LL LEARN:\n\n00:00
        - Intro\u00a0\n\n02:27 - Why Jim Chanos is short BTC companies but long Bitcoin
        itself\n\n05:44 - Pierre Rochard''s view on using corporate debt\/equity to
        acquire BTC\n\n13:03 - Capital structure tools best suited for BTC-native
        companies\n\n14:12 - Whether BTC treasuries offer more than just bull-market
        beta\n\n19:23 - The risks of NAV premiums and misaligned management incentives\n\n20:16
        - Debate over proper valuation frameworks: NAV vs. cash flow\n\n24:30 - Could
        BTC treasuries evolve into financial infrastructure\u2014or stay niche?\n\n26:25
        - The systemic implications of too many firms holding BTC on balance sheets\n\n36:22
        - 2030 predictions: spot BTC vs. BTC-native equities vs. ETFs\n\n40:17 - What
        a \u201cresponsible\u201d BTC treasury strategy could look like\n\n\n\nDisclaimer:
        Slight discrepancies in the timestamps may occur due to podcast platform differences.\n\n\n\n\ufeffBOOKS
        AND RESOURCES\n\n\n  Jim\u2019s X Account.\n\n  Pierre\u2019s X Account.\n\n\n  Related
        Episode: Bitcoin Energy Survey and the Speculative Attack w\/ Pierre Rochard.\n\n  Check
        out all the books mentioned and discussed in our podcast episodes\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060
        \u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060here\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060.\n\n  Enjoy
        ad-free episodes when you subscribe to our\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060\u2060
        \u2[...]
[...]
