---
http_interactions:
- request:
    method: post
    uri: https://api.podchaser.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query PodchaserGuestFeed__EpisodeCreditsQuery($pcid: String!,
        $first: Int!) {\n  creator(identifier: {type: PCID, id: $pcid}) {\n    pcid\n    name\n    imageUrl\n    episodeCredits(first:
        $first, filters: {role: [\"guest\"]}, sort: {sortBy: DATE, direction: DESCENDING})
        {\n      paginatorInfo {\n        count\n        hasMorePages\n      }\n      data
        {\n        episode {\n          id\n          title\n          airDate\n          url\n          audioUrl\n          length\n          imageUrl\n          podcast
        {\n            title\n            imageUrl\n          }\n        }\n      }\n    }\n  }\n}","variables":{"pcid":"791950","first":25},"operationName":"PodchaserGuestFeed__EpisodeCreditsQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <PODCHASER_DEV_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Podchaser-Points-Remaining:
      - '23810'
      X-Podchaser-Query-Cost:
      - '283'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"creator":{"pcid":"791950","name":"Jim Chanos","imageUrl":"https:\/\/creator-images.podchaser.com\/392fd011a7bf454dda540173fe5b2e49.jpeg","episodeCredits":{"paginatorInfo":{"count":2,"hasMorePages":false},"data":[{"episode":{"id":"259526122","title":"BTC243:
        Jim Chanos Vs Pierre Rochard MSTR mNAV debate (Bitcoin Podcast)","airDate":"2025-07-16
        00:00:00","url":"https:\/\/www.podchaser.com\/podcasts\/the-investors-podcast-we-study-7068\/episodes\/btc243-jim-chanos-vs-pierre-ro-259526122","audioUrl":"https:\/\/www.podtrac.com\/pts\/redirect.mp3\/pdst.fm\/e\/traffic.megaphone.fm\/PPLLC5507239494.mp3?updated=1752604146","length":3292,"imageUrl":"https:\/\/megaphone.imgix.net\/podcasts\/8d32d4ea-61a0-11f0-8ac9-ef02c1c15bb7\/image\/7e6c9fd439174b0b41a400e4e9125583.jpg?ixlib=rails-4.3.1&max-w=3000&max-h=3000&fit=crop&auto=format%2Ccompress","podcast":{"title":"The
        Investor''s Podcast (We Study Billionaires)  - The Investor\u2019s Podcast
        Network","imageUrl":"https:\/\/megaphone.imgix.net\/podcasts\/b2b12274-75fe-11ee-ae2d-1760f2a748b1\/image\/9e29d14a398eee5388bd2827faf66f93.jpg?ixlib=rails-4.3.1&max-w=3000&max-h=3000&fit=crop&auto=format%2Ccompress"}}},{"episode":{"id":"257682886","title":"Jim
        Chanos on the Nuttiness of ''Bitcoin Treasury Companies''","airDate":"2025-06-30
        08:00:00","url":"https:\/\/www.podchaser.com\/podcasts\/odd-lots-40661\/episodes\/jim-chanos-on-the-nuttiness-of-257682886","audioUrl":"https:\/\/podtrac.com\/pts\/redirect.mp3\/tracking.swap.fm\/track\/UVBrz8bN8aM2Xe47PEPu\/traffic.omny.fm\/d\/clips\/e73c998e-6e60-432f-8610-ae210140c5b1\/8a94442e-5a74-4fa2-8b8d-ae27003a8d6b\/f6f737e1-0d97-486d-b2b8-b309014fa8ed\/audio.mp3?utm_source=Podcast&in_playlist=982f5071-765c-403d-969d-ae27003a8d83","length":2253,"imageUrl":"https:\/\/www.omnycontent.com\/d\/playlist\/e73c998e-6e60-432f-8610-ae210140c5b1\/8a94442e-5a74-4fa2-8b8d-ae27003a8d6b\/982f5071-765c-403d-969d-ae27003a8d83\/image.jpg?t=1681322812&size=Large","podcast":{"title":"Odd
        Lots","imageUrl":"https:\/\/www.omnycontent.com\/d\/playlist\/e73c998e-6e60-432f-8610-ae210140c5b1\/8a94442e-5a74-4fa2-8b8d-ae27003a8d6b\/982f5071-765c-403d-969d-ae27003a8d83\/image.jpg?t=1681322812&size=Large"}}}]}}}}'
  recorded_at: Thu, 23 Apr 2026 00:04:29 GMT
[...]
