---
http_interactions:
- request:
    method: get
    uri: https://thelastbearstanding.substack.com/feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://www.thelastbearstanding.com/feed
      X-Cluster:
      - substack
      X-Deploy:
      - ada853823d
      X-Service:
      - web
    body:
      encoding: ASCII-8BIT
      string: Moved Permanently. Redirecting to https://www.thelastbearstanding.com/feed
  recorded_at: Fri, 10 May 2024 17:01:02 GMT
- request:
    method: get
    uri: https://www.thelastbearstanding.com/feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"6ce02-6GEE9qxRHhEX9wUX+I5fMKvY/9g"
      X-Cluster:
      - substack
      X-Deploy:
      - ada853823d
      X-Service:
      - web
      X-Sub:
      - thelastbearstanding
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"><channel><title><![CDATA[The Last Bear Standing]]></title><description><![CDATA[Original, independent, financial analysis. New posts every Friday at 8:00AM EST.]]></description><link>https://www.thelastbearstanding.com</link><image><url>https://substackcdn.com/image/fetch/w_256,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F7db33b1c-76d8-4a3b-b2eb-f08130dbf1a7_462x462.png</url><title>The Last Bear Standing</title><link>https://www.thelastbearstanding.com</link></image><generator>Substack</generator><lastBuildDate>Fri, 10 May 2024 15:57:31 GMT</lastBuildDate><atom:link href="https://www.thelastbearstanding.com/feed" rel="self" type="application/rss+xml"/><copyright><![CDATA[TheLastBearStanding]]></copyright><language><![CDATA[en]]></language><webMaster><![CDATA[thelastbearstanding@substack.com]]></webMaster><itunes:owner><itunes:email><![CDATA[thelastbearstanding@substack.com]]></itunes:email><itunes:name><![CDATA[The Last Bear Standing]]></itunes:name></itunes:owner><itunes:author><![CDATA[The Last Bear Standing]]></itunes:author><googleplay:owner><![CDATA[thelastbearstanding@substack.com]]></googleplay:owner><googleplay:email><![CDATA[thelastbearstanding@substack.com]]></googleplay:email><googleplay:author><![CDATA[The Last Bear Standing]]></googleplay:author><item><title><![CDATA[Data Centers and Power Demand]]></title><description><![CDATA[#104: Assessing the impact of computing growth on America's electricity markets.]]></description><link>https://www.thelastbearstanding.com/p/data-centers-and-power-demand</link><guid isPermaLink="true">https://www.thelastbearstanding.com/p/data-centers-and-power-demand</guid><dc:creator><![CDATA[The Last Bear Standing]]></dc:creator><pubDate>Fri, 10 May 2024 12:34:30 GMT</pubDate><enclosure url="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png" length="0" type="image/jpeg"/><content:encoded><![CDATA[<div class="captioned-image-container"><figure><a class="image-link is-viewable-img image2" target="_blank" href="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png" data-component-name="Image2ToDOM"><div class="image2-inset"><picture><source type="image/webp" srcset="https://substackcdn.com/image/fetch/w_424,c_limit,f_webp,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png 424w, https://substackcdn.com/image/fetch/w_848,c_limit,f_webp,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png 848w, https://substackcdn.com/image/fetch/w_1272,c_limit,f_webp,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png 1272w, https://substackcdn.com/image/fetch/w_1456,c_limit,f_webp,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png 1456w" sizes="100vw"><img src="https://substackcdn.com/image/fetch/w_1456,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png" width="1456" height="842" data-attrs="{&quot;src&quot;:&quot;https://substack-post-media.s3.amazonaws.com/public/images/5a8f02dc-a3a0-4f40-96e0-14e55cc62063_1984x1148.png&quot;,&quot;srcNoWatermark&quot;:null,&quot;fullscreen&quot;:null,&quot;imageSize&quot;:null,&quot;height&quot[...]
