---
http_interactions:
- request:
    method: get
    uri: https://newsletter.doomberg.com/feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"3d30c-qjS9cGixOBamwUBD7aJ4kMBeRlg"
      X-Cluster:
      - substack
      X-Deploy:
      - bfba0d6b0a
      X-Service:
      - web
      X-Sub:
      - doomberg
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"><channel><title><![CDATA[Doomberg]]></title><description><![CDATA[Energy, finance, and the economy at-large | Doomberg readers are better informed and smartly entertained | Enter your email address below to receive free previews | Bonus access to 5 of our top articles is included in the Welcome email!]]></description><link>https://newsletter.doomberg.com</link><image><url>https://substackcdn.com/image/fetch/w_256,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F3b872b29-0394-495a-b836-ea86ed8a958e_400x400.png</url><title>Doomberg</title><link>https://newsletter.doomberg.com</link></image><generator>Substack</generator><lastBuildDate>Mon, 06 May 2024 00:36:50 GMT</lastBuildDate><atom:link href="https://newsletter.doomberg.com/feed" rel="self" type="application/rss+xml"/><copyright><![CDATA[Doomberg]]></copyright><language><![CDATA[en]]></language><webMaster><![CDATA[doomberg@substack.com]]></webMaster><itunes:owner><itunes:email><![CDATA[doomberg@substack.com]]></itunes:email><itunes:name><![CDATA[Doomberg]]></itunes:name></itunes:owner><itunes:author><![CDATA[Doomberg]]></itunes:author><googleplay:owner><![CDATA[doomberg@substack.com]]></googleplay:owner><googleplay:email><![CDATA[doomberg@substack.com]]></googleplay:email><googleplay:author><![CDATA[Doomberg]]></googleplay:author><item><title><![CDATA[Cooking the Books]]></title><description><![CDATA[Exposing the lunacy of the Green New Math&#8482;]]></description><link>https://newsletter.doomberg.com/p/cooking-the-books</link><guid isPermaLink="true">https://newsletter.doomberg.com/p/cooking-the-books</guid><dc:creator><![CDATA[Doomberg]]></dc:creator><pubDate>Sat, 04 May 2024 09:02:44 GMT</pubDate><enclosure url="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F6171b714-debb-481d-93f8-1d4bb67284d7_1456x1048.jpeg" length="0" type="image/jpeg"/><content:encoded><![CDATA[<p><em>&#8220;The path of sound credence is through the thick forest of skepticism.&#8221;</em> &#8211; George Jean Nathan</p><p>Imagine, if you will, a green chalkboard. In the upper left corner is written CH<sub>4</sub>, the chemical formula for natural gas, and in the bottom right is everybody&#8217;s favorite molecule, CO<sub>2</sub>. In between these extremes&#8212;sloping downward and to the right&#8212;are the words oil, coal, and wood, in that order. What our chalkboard illustrates is a gross approximation of the extent to which the carbon atoms embodied in those materials are already burned (i.e., oxidized), and by extension how much residual energy can be extracted from these feedstocks by burni[...]
