---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/feeds/videos.xml?channel_id=UCYp-onWoQk6R9kCTij5KkkQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<feed xmlns:yt=\"http://www.youtube.com/xml/schemas/2015\"
        xmlns:media=\"http://search.yahoo.com/mrss/\" xmlns=\"http://www.w3.org/2005/Atom\">\n
        <link rel=\"self\" href=\"http://www.youtube.com/feeds/videos.xml?channel_id=UCYp-onWoQk6R9kCTij5KkkQ\"/>\n
        <id>yt:channel:Yp-onWoQk6R9kCTij5KkkQ</id>\n <yt:channelId>Yp-onWoQk6R9kCTij5KkkQ</yt:channelId>\n
        <title>Nobody Special Finance</title>\n <link rel=\"alternate\" href=\"https://www.youtube.com/channel/UCYp-onWoQk6R9kCTij5KkkQ\"/>\n
        <author>\n  <name>Nobody Special Finance</name>\n  <uri>https://www.youtube.com/channel/UCYp-onWoQk6R9kCTij5KkkQ</uri>\n
        </author>\n <published>2021-05-07T17:06:25+00:00</published>\n <entry>\n  <id>yt:video:1hCjKdIAwCE</id>\n
        \ <yt:videoId>1hCjKdIAwCE</yt:videoId>\n  <yt:channelId>UCYp-onWoQk6R9kCTij5KkkQ</yt:channelId>\n
        \ <title>I Feel Like I'm Taking Crazy Pills</title>\n  <link rel=\"alternate\"
        href=\"https://www.youtube.com/watch?v=1hCjKdIAwCE\"/>\n  <author>\n   <name>Nobody
        Special Finance</name>\n   <uri>https://www.youtube.com/channel/UCYp-onWoQk6R9kCTij5KkkQ</uri>\n
        \ </author>\n  <published>2024-05-03T20:19:01+00:00</published>\n  <updated>2024-05-05T01:16:03+00:00</updated>\n
        \ <media:group>\n   <media:title>I Feel Like I'm Taking Crazy Pills</media:title>\n
        \  <media:content url=\"https://www.youtube.com/v/1hCjKdIAwCE?version=3\"
        type=\"application/x-shockwave-flash\" width=\"640\" height=\"390\"/>\n   <media:thumbnail
        url=\"https://i2.ytimg.com/vi/1hCjKdIAwCE/hqdefault.jpg\" width=\"480\" height=\"360\"/>\n
        \  <media:description>It's been one of the most absurd weeks in the world
        of finance and economics since I don't know when.  A tiny bank was declared
        too big to fail.  Apple stock surged on terrible earnings. The Fed talked
        like a Hawk and walked like Dove. Yellen is paying off low interest debt with
        high interest debt. The Japanese currency is imploding. And the financial
        press is wearing a mask of euphoria like some kind of demented murderous street
        mime from Rob Zombie flick.\n\nSupport the Channel on Patreon:  https://www.patreon.com/NobodySpecialFinance\nSupport
        the Channel by Buying Me a Coffee\nhttps://www.buymeacoffee.com/nobodyspecial\nSupport
        the Channel with Melon Merch by TeeSpring:\nhttps://nobody-special-finance.creator-spring.com/\n\nJoin
        My Discord for More Discussion, Q&amp;A, and News: https://discord.gg/njvf3DPPrF
        \n\nAffiliate Links:\n\nUse this link to get $10 in free Bitcoin with Swan:
        \ https://www.swanbitcoin.com/NobodySpecial/\n\nRecommended reading (Amazon
        Affiliate links):\nRich Dad Poor Dad by Robert Kiyosaki:  https://amzn.to/3rJvA7Y\nAtomic
        Habits by James Clear:  https://amzn.to/423Odoy\nWhy We Need The Fed (blank
        gag book) by Joe Brown:  https://amzn.to/403amBS\n\nFollow me on Twitter:
        https://twitter.com/JG_Nuke\nFollow me on Gettr: https://gettr.com/user/nobody_special_\nFollow
        me on Gab: https://gab.com/NobodySpecialFinance\nFollow me on Reddit: https://www.reddit.com/user/JG-NUKE\n\n#jobsreport
        #inflation #EndTheFed</media:description>\n   <media:community>\n    <media:starRating
        count=\"1707\" average=\"5.00\" min=\"1\" max=\"5\"/>\n    <media:statistics
        views=\"14553\"/>\n   </media:community>\n  </media:group>\n </entry>\n <entry>\n
        \ <id>yt:video:OoGpTwKZwlY</id>\n  <yt:videoId>OoGpTwKZwlY</yt:videoId>\n
        \ <yt:channelId>UCYp-onWoQk6R9kCTij5KkkQ</yt:channelId>\n  <title>Market Rips
        as Jobs Report Shows Hiring Slowed in April</title>\n  <link rel=\"alternate\"
        href=\"https://www.youtube.com/watch?v[...]
